<div class='flex justify-center items-center flex-col gap-10'>
  <h3 class='font-bold text-lg text-center'>Who are you.? An Introvet or an extrovert., <br>Find out this by using filling our Questionaire</h3>
  <%= link_to 'Start Questionaire', question_path(@question['id']), class: 'text-lg bg-blue-600 text-white px-3 py-1 rounded-md' if @ur_personality.nil?  %>

  <%= link_to 'Start Questionaire Again', question_path(@question['id']), class: 'text-lg bg-blue-600 text-white px-3 py-1 rounded-md' unless @ur_personality.nil? %>
  <div>
    <% unless @ur_personality.nil? %>
      <p class='text-xl bg-green-200 px-3 py-1 rounded-md text-gray-800'>You are an <strong><%= @ur_personality%></strong> by your answers analysis</p>
    <% end %>
  </div>


  <%= form_with url: '/question', method: :post, remote: true  do |f| %>
  <h1 class='text-center font-bold text-xl mb-5'>Add a New Question</h1>
    <div class='my-2'>
      <%= f.label :question %>
      <%= f.text_field :question_content, class: "border border-600-gray w-96" %>
    </div>

    <div class='my-2 flex justify-between'>
      <%= f.label :option_1 %>
      <%= f.text_field :option_1, class: 'border border-600-gray' %>
      <%= f.select :option_type_1, [["Interovet", "introvert"], ["Extrovert", "extrovert"]], {}, {class: 'px-3 cursor-pointer'} %>
    </div>

    <div class='my-2 flex justify-between'>
      <%= f.label :option_2 %>
      <%= f.text_field :option_2, class: 'border border-600-gray' %>
      <%= f.select :option_type_2, [["Interovet", "introvert"], ["Extrovert", "extrovert"]], {}, {class: 'px-3 cursor-pointer'} %>
    </div>

    <div class='my-2 flex justify-between'>
      <%= f.label :option_3 %>
      <%= f.text_field :option_3, class: 'border border-600-gray' %>
      <%= f.select :option_type_3, [["Interovet", "introvert"], ["Extrovert", "extrovert"]], {}, {class: 'px-3 cursor-pointer'} %>
    </div>

    <div class='my-2 flex justify-between'>
      <%= f.label :option_4 %>
      <%= f.text_field :option_4, class: 'border border-600-gray' %>
      <%= f.select :option_type_4, [["Interovet", "introvert"], ["Extrovert", "extrovert"]], {}, {class: 'px-3 cursor-pointer'} %>
    </div>
    <%= f.submit 'Create ', class:'cursor-pointer bg-blue-600 text-white rounded-md px-2 py-1 float-right mt-4' %>
  <% end %>

</div>
